<div class="page-wraper"> 
               	
        <!-- HEADER START -->
        <app-header2-dark></app-header2-dark>
        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- SLIDER START -->
            <app-section-slider2-dark></app-section-slider2-dark>
            <!-- SLIDER END -->

            <!-- ABOUT COMPANY START -->
            <app-section-about-company2-dark [data]="about"></app-section-about-company2-dark>
            <!-- ABOUT COMPANY END -->

            <!-- WHAT WE DO START -->
            <app-section-what-we-do1-dark [data]="whatWeDo"></app-section-what-we-do1-dark>
            <!-- WHAT WE DO END --> 
            
            <!-- OUR SERVICES START -->
            <app-section-our-services1-dark [data]="services"></app-section-our-services1-dark>
            <!-- OUR SERVICES  END -->           
            
            <!-- OUR CLIENTS -->
            <app-section-our-clients2-dark [data]="clients"></app-section-our-clients2-dark>
            <!-- OUR CLIENTS END -->
            
			<!-- OUR PROCESS END START -->
            <app-section-our-process1-dark [data]="process"></app-section-our-process1-dark>
            <!-- OUR PROCESS END --> 

	        <!-- Awards START -->
            <app-section-awards1-dark [data]="awards"></app-section-awards1-dark>
            <!-- Awards  END -->

            <!-- OUR TEAM START -->
            <app-section-our-team1-dark [data]="team"></app-section-our-team1-dark>
            <!-- OUR Team END -->

            <!-- Our PRICING PLAN -->
            <app-section-pricing1-dark [data]="pricing"></app-section-pricing1-dark>
            <!-- Our PRICING PLAN -->              

			<!-- OUR BLOG START -->
            <app-section-blogs2-dark [data]="blogs"></app-section-blogs2-dark>
            <!-- OUR BLOG END -->                        

            <!-- COUNTER START -->
            <app-section-counter1-dark [data]="counter"></app-section-counter1-dark>
            <!-- COUNTER  END -->   
            
            <!-- TESTIMONIAL START -->
            <app-section-testimonials2-dark [data]="testimonials"></app-section-testimonials2-dark>
            <!-- TESTIMONIAL  END -->
                                
        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
        <app-footer1></app-footer1>
        <!-- FOOTER END -->

    </div>