<div  class="section-full mobile-page-padding p-t100 p-b70 bg-white" >
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                        
                            <div class="col-lg-6 col-md-12 m-b30">
                                <div class="a-about2">
                                    <div class="sx-media">
                                        <img src="{{data.image}}" alt="">
                                    </div>
                                    <div class="dot-corner"><img src="assets/images/background/r-corner.png" alt=""></div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                                <div class="a-about-home-right2">
                                    <!-- TITLE START -->
                                    <div class="section-head-two left">
                                        <h2 class="sx-title-two">{{data.title}}</h2>
                                    </div>                   
                                    <!-- TITLE END -->
                                    <div class="sx-about-me-info2 m-b40" [innerHTML]="data.description">
                                        
                                    </div> 
                                    
                                    <div class="year-ex2 bg-repeat-x" style="background-image: url(assets/images/background/dot-corner.png)">
                                        <div class="year-ex-info2">
                                            <div class="year-ex-count2"><span class="text-outline">{{data.experience}}</span></div>
                                            <div class="year-ex-content2">
                                                <span class="info1 sx-text-black">Years Experience</span>
                                                <span class="info2 sx-text-black">Established {{data.establishment}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="two-part-b-section2 d-flex justify-content-between">
                                        <a routerLink="/pages/contact-us" class="site-button-secondry btn-half outline m-r15" style="transform: translate3d(0px, 0px, 0px);">Hire Me <span class="sx-bg-primary"></span></a>
                                    </div>
                                </div>                                  
                            </div> 

                            
                        </div>
                    </div>
                </div>
            
            </div>