<div class="page-wraper">

  <!-- HEADER START -->
  <!-- <app-header1></app-header1> -->
<app-header2></app-header2>
  <!-- HEADER END -->



  <!-- CONTENT START -->
  <div class="page-content">

    <!-- INNER PAGE BANNER -->
    <app-banner [data]="banner"></app-banner>
    <!-- INNER PAGE BANNER END -->


    <!-- OUR Team START -->
    <div class="section-full p-t100 p-b70 mobile-page-padding">
      <div class="container-fluid">

                  <!-- TITLE START -->
    <div class="section-head-two left">
      <h2 class="sx-title-two">Devsense Team</h2>
    </div>
    <!-- TITLE END -->


        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
          <div class="row our-team-2-outer no-gutters justify-content-center">

            @for (object of team; track $index) {
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div
                  #teamCard
                  class="our-team-2"
                  [class.team-card--active]="object.isHovered || object.isInView"
                  (mouseenter)="setHovered(object, true)"
                  (mouseleave)="setHovered(object, false)">
                  <div
                    class="profile-image"
                    [class.profile-image--crossfade]="object.hoverImage"
                    [class.profile-image--active]="object.isHovered || object.isInView"
                    [class.profile-image--subtle-zoom]="object.subtleHoverZoom">
                    <img class="profile-image__base" [src]="object.image" [alt]="object.name" />
                    @if (object.hoverImage) {
                      <img class="profile-image__hover" [src]="object.hoverImage" alt="" aria-hidden="true" />
                    }
                    <div class="profile-image__text">"{{object.introduction}}"</div>
                    <div class="icons">
                      <a href="https://www.linkedin.com/" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      <span class="social-link social-link--disabled" aria-label="Facebook unavailable" aria-disabled="true"><i class="fa fa-facebook"></i></span>
                      <span class="social-link social-link--disabled" aria-label="Instagram unavailable" aria-disabled="true"><i class="fa fa-instagram"></i></span>
                    </div>
                  </div>
                  <div class="figcaption text-black">
                    <h4 class="m-t0"><a routerLink="/team/team2">{{object.name}}</a></h4>
                    <p>{{object.designation}}</p>
                  </div>
                </div>
              </div>
            }

          </div>
        </div>

      </div>
    </div>
    <!-- OUR Team END -->

  </div>
  <!-- CONTENT END -->

  <!-- FOOTER START -->
  <app-footer1></app-footer1>
  <!-- FOOTER END -->

</div>