<!-- <video
    muted
    autoplay
    loop
    playsinline
    preload="metadata"
    disablepictureinpicture
    class="banner-video"
    onloadedmetadata="this.play()">
    <source src="assets/images/main-slider/slider2/banner-video2.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video> -->
<div class="sx-bnr-2-wrap-outer home-2-slider">
    
    <!-- swiper slides -->
    <div class="swiper-wrapper">

        <!--slide 1-->
        <div class="sx-bnr-2-wrap swiper-slide">

            <div class="container ">
                <div class="dot-mask"></div>

                <video
    muted
    autoplay
    loop
    playsinline
    preload="metadata"
    disablepictureinpicture
    class="banner-video"
    onloadedmetadata="this.play()">
    <source src="assets/images/main-slider/slider2/banner-video2.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
                <div class="sx-bnr-2-content-wrap">
                    <div class="sx-bnr-2-content">
                        <span class="sx-bnr-2-small-title">Creative</span>
                        <h2 class="sx-bnr-2-large-title">Creative <span class="sx-text-primary">Web & App</span>  Developer</h2>
                        
                        <div class="sx-bnr-readmore">
                            <a routerLink="/about" class="site-button btn-half m-b30">Read More</a>
                        </div>
                    
                    </div>

                    
                </div>
            </div>
            <div class="sx-bnr-images" >
                <img src="assets/images/main-slider/slider2/sm-pic1.png" alt="">
            </div>
            <div class="sld-bld-text-wrap">
                <h2 class="sld-bld-text">DevSense</h2>
            </div>
        </div>

        <!--slide 2-->
        <div class="sx-bnr-2-wrap swiper-slide" style="background-image: url(assets/images/main-slider/slider2/slide2.jpg); ">
            <div class="container ">
                <div class="sx-bnr-2-content-wrap">
                    <div class="sx-bnr-2-content">
                        <span class="sx-bnr-2-small-title">Devsense</span>
                        <h2 class="sx-bnr-2-large-title">We Are <span class="sx-text-primary">Creative</span> & Minimalist</h2>
                        
                        <div class="sx-bnr-readmore">
                            <a routerLink="/about" class="site-button btn-half m-b30">Read More</a>
                        </div>
                    
                    </div>

                   
                </div>
            </div>
            <div class="sx-bnr-images " >
                <img src="assets/images/main-slider/slider2/sm-pic2.png" alt="">
            </div>
            <div class="sld-bld-text-wrap">
                <h2 class="sld-bld-text">Creative</h2>
            </div>
                                   
        </div>
        
        
    </div>
    <!-- !swiper slides -->
    
     <!-- swipper controls -->
     <div class="swiper-pagination"></div>
     <!-- Add Arrows -->
     <div class="swiper-button-next"></div>
     <div class="swiper-button-prev"></div>
</div>