<footer class="site-footer footer-dark">

    <!-- FOOTER BLOCKES START -->  
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-3 col-md-6 col-sm-6">  
                    <div class="widget widget_about">
                        <div class="logo-footer clearfix p-b15">
                            <a routerLink="/index" class="sx-text-primary">anih.</a>
                        </div>
                        <p>© 2023 anih. All rights reserved.</p> 
                        <p>Made by 7xtheme.</p> 
                    </div>
                </div> 
                
                <!-- RESENT POST -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 col">
                    <div class="widget widget_services">
                        <ul>
                            <li><a routerLink="/index">Home</a></li>
                            <li><a routerLink="/about/company">About</a></li>
                            <li><a routerLink="/services/services1">Services</a></li>
                            <li><a routerLink="/portfolio/grid/2-columns">Portfolio</a></li>
                            <li><a routerLink="/blog/grid">Blog</a></li>
                            <li><a routerLink="/pages/contact-us">Contact Us</a></li>
                        </ul>
                    </div>							                          
                </div>   
                                     
                <!-- USEFUL LINKS -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 col footer-col-3">
                    <div class="widget widget_social">
                        <ul>
                           <li><a href="https://www.instagram.com/">Instagram</a></li>
                            <li><a href="https://www.facebook.com/">Facebook</a></li>
                            <li><a href="https://twitter.com/">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/">Linkedin</a></li>
                            <li><a href="https://www.behance.net/">Behance</a></li>
                            <li><a href="https://dribbble.com/">Dribbble</a></li>
                        </ul>
                    </div>                           
                </div>
                
                <!-- CONTACT US -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget_newsletter">
                        <p>Ready to start your next project? <br> Drop us a line or two  at: 7xthemedemo&#64;gmail.com</p>
                        <div class="newsletter-bx">
                            <form role="search" method="post">
                                <div class="input-group">
                                    <input name="news-letter" class="form-control" placeholder="Subscribe and stay tuned!" type="text">
                                    <span class="input-group-btn">
                                        <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>                                             	
                </div>                          
                

                
            </div>
        </div> 
                         
    </div>
    <!-- FOOTER COPYRIGHT -->
    
</footer>