<header class="header-style1 header-style1-dark site-header  nav-transparent mobile-sider-drawer-menu">
    <div class="top-bar">
        <div class="container">
            <div class="d-flex justify-content-between  align-content-center">
                <ul class="list-unstyled e-p-bx text-black d-flex flex-wrap">
                    <li><i class="flaticon-email"></i>info@webmail.com</li>
                    <li><i class="flaticon-telephone"></i><a href="tel:+2913564256789 ">+291 3564 256 789</a></li>
                </ul>                            
                <ul class="list-unstyled social-bx d-flex flex-wrap align-content-center">
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.behance.net/"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>             
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar">
    
            <div class="container clearfix">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a routerLink="/index">
                            <img src="assets/images/logo-1.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button> 
                
                    <!-- EXTRA NAV -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <div class="site-search">											
                                <form role="search" method="GET">
                                    <div class="input-group">
                                        <input name="key-search" type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- EXTRA Nav -->
                                            
                    <!-- MAIN NAVIGATION -->
                    <div class="header-nav nav-dark navbar-collapse collapse d-flex justify-content-start collapse ">
                        <ul class=" nav navbar-nav ">
                            <li class="active">
                                <a href="javascript:void();">Home</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/index">Home-1</a></li>
                                    <li><a routerLink="/index2">Home-1 dark</a></li>
                                    <li><a routerLink="/index3">Home-2</a></li>
                                    <li><a routerLink="/index4">Home-2 dark</a></li>
                                </ul>                                                    
                            </li>

                            <li>
                                <a href="javascript:void();">About us</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/about/company">About Company</a></li>
                                    <li><a routerLink="/about/me">About Me</a></li>
                                </ul>                                                
                            </li>
                            
                            <li>
                                <a href="javascript:void();">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void();">Services</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/services/services1">Services-1</a></li>
                                            <li><a routerLink="/services/services2">Services-2</a></li>
                                            <li><a routerLink="/services/detail">Service Detail</a></li>
                                        </ul>                                                
                                    </li>
                                    <li>
                                        <a href="javascript:void();">Team</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/team/team1">Our Team-1</a></li>
                                            <li><a routerLink="/team/team2">Our Team-2</a></li>
                                            <li><a routerLink="/team/detail">Team Detail</a></li>
                                        </ul>                                                
                                    </li>
                                    <li><a routerLink="/pages/our-process">Our Process</a></li>                                                                                        
                                    <li><a routerLink="/pages/fonts-icons">Fonts Icons </a></li>                                                                                     
                                    <li><a routerLink="/pages/error404">Error 404</a></li>
                                                                                
                                </ul>
                            </li>
                            
                            <li class="has-mega-menu">
                                <a href="javascript:void();">Portfolio</a>
                                <ul class="mega-menu">
                                    <li><a href="javascript:void();">Grid</a>
                                        <ul>
                                            <li><a routerLink="/portfolio/grid/2-columns">2 Columns</a></li>
                                            <li><a routerLink="/portfolio/grid/2-columns-no-gap">2 Columns No Gutter</a></li>
                                            <li><a routerLink="/portfolio/grid/3-columns">3 Columns</a></li>
                                            <li><a routerLink="/portfolio/grid/3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/portfolio/grid/4-columns">4 Columns</a></li>
                                            <li><a routerLink="/portfolio/grid/4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/portfolio/grid/5-columns">5 Columns</a></li>
                                            <li><a routerLink="/portfolio/grid/5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>                                            
                                    </li>
                                    <li><a href="javascript:void();">Masonry</a>
                                        <ul>
                                            <li><a routerLink="/portfolio/masonry/2-columns">2 Columns</a></li>
                                            <li><a routerLink="/portfolio/masonry/2-columns-no-gap">2 Columns No Gutter</a></li>
                                            <li><a routerLink="/portfolio/masonry/3-columns">3 Columns</a></li>
                                            <li><a routerLink="/portfolio/masonry/3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/portfolio/masonry/4-columns">4 Columns</a></li>
                                            <li><a routerLink="/portfolio/masonry/4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/portfolio/masonry/5-columns">5 Columns</a></li>
                                            <li><a routerLink="/portfolio/masonry/5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>                                            
                                    </li>
                                    <li><a routerLink="/portfolio-carousel">Carousel</a>
                                        <ul>
                                            <li><a routerLink="/portfolio/carousel/small">Carousel Small</a></li>
                                            <li><a routerLink="/portfolio/carousel/large">Carousel Large</a></li>
                                            <li><a routerLink="/portfolio/carousel/fullwidth">Carousel Fullwidth</a></li>
                                        </ul>  
                                    </li>
                                    <li><a href="javascript:void();">Single</a>
                                            <ul>
                                                <li><a routerLink="/portfolio/single/vertical-wide">Vertical Wide</a></li>
                                                <li><a routerLink="/portfolio/single/vertical-floating">Vertical Floating</a></li>
                                                 <li><a routerLink="/portfolio/single/vertical-wide-video">Vertical Wide Video</a></li>
                                            </ul>                                            
                                    </li>                                        
                                </ul>
                            </li>
                                                                
                            <li>
                                <a href="javascript:void();">Blog</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/blog/grid">Blog Grid</a></li>
                                    <li><a routerLink="/blog/classic">Blog Classic</a></li>
                                    <li><a routerLink="/blog/listing">Blog Listing</a></li>
                                    <li><a routerLink="/blog/listing2">Blog Listing 2</a></li>
                                    <li><a routerLink="/blog/masonry">Blog Masonry</a></li>
                                    <li><a routerLink="/blog/single">Blog Single</a></li>
                                    <li><a routerLink="/blog/blog-with-sidebar">Post Right Sidebar</a></li> 
                                </ul>
                            </li>                                                               

                            <li><a routerLink="/pages/faq">FAQ</a></li>
                            <li><a routerLink="/pages/contact-us">Contact us</a></li> 

                        </ul>
                    </div>
                                                                                              
                    
            </div>
        </div>
    </div>
</header>