<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <!-- <app-header1></app-header1> -->
<app-header2></app-header2>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-banner [data]="banner"></app-banner>
        <!-- INNER PAGE BANNER END -->
        
        <!-- OUR SERVICES START -->
        <app-section-our-services1 [data]="services"></app-section-our-services1>   
        <!-- OUR SERVICES  END -->
        
        <!-- Awards START -->
        <!-- <app-section-awards1 [data]="awards"></app-section-awards1>    -->
        <!-- Awards  END -->	         

        <!-- COUNTER START -->
        <app-section-counter2 [data]="counter"></app-section-counter2>  
        <!-- COUNTER  END -->

    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>