<div class="section-full p-t100 p-b70 mobile-page-padding bg-gray-light">
  <div class="container">

    <!-- TITLE START -->
    <div class="section-head-two center">
      <h2 class="sx-title-two">{{data.title}}</h2>
    </div>
    <!-- TITLE END -->

    <div class="section-content ">
      <div class="row">
        @for (object of data.awards; track object) {
          <div class="col-xl-6 col-lg-6 col-md-12 m-b30">
            @for (object1 of object; track object1) {
              <div class="sx-box our-story">
                <div class="mt-media our-story-info d-flex justify-content-start">
                  <h4 class="text-uppercase our-story-year">{{object1.year}}</h4>
                </div>
                <div class="our-story-detail">
                  <h4>{{object1.title}}</h4>
                  <p>{{object1.description}}</p>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>