<div class="full-landing-image sx-bnr-inr overlay-wraper  bg-top-center"    style="background-image:url({{data.background}});">
    <div class="overlay-main bg-white opacity-07"></div>
    <div class="container">
        <div class="sx-bnr-inr-entry">
            <div class="banner-title-outer">
                <div class="banner-title-name">
                    <h2  class="sx-title">{{data.title}}</h2><p>
{{data.description}}
</p>
                </div>
            </div>
            <!-- BREADCRUMB ROW -->                            
            
                <div>
                    <ul class="sx-breadcrumb breadcrumb-style-2">
                        <li><a routerLink="/index">Home</a></li>
                        <li>{{data.currentPage}}</li>
                    </ul>
                </div>
            
            <!-- BREADCRUMB ROW END -->                        
        </div>
    </div>
</div>