<div class="page-wraper">

  <!-- HEADER START -->
  <!-- <app-header1></app-header1> -->
<app-header2></app-header2>
  <!-- HEADER END -->

  <!-- CONTENT START -->
  <div class="page-content">

    <!-- INNER PAGE BANNER -->
    <app-banner [data]="banner"></app-banner>
    <!-- INNER PAGE BANNER END -->

    <!-- SECTION CONTENT START -->
    <div class="section-full  p-t100 p-b70 mobile-page-padding  sx-bg-white">
      <div class="container">
        <div class="section-content">
          <div class="project-small-slider-wrap">
            <div class="row d-flex align-items-center">
              <div class="col-xl-7 col-lg-6 col-md-12 m-b30">
                <div class="work-carousel-outer">
                  <div class="swiper-container project-carousel1">
                    <div class="swiper-wrapper">
                      <!-- COLUMNS 1 -->
                      @for (object of portfolio.slider; track $index) {
                        <div class="swiper-slide">
                          <div class="sx-box   image-single-carousel ">
                            <img src="{{object}}" alt="">
                          </div>
                        </div>
                      }
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>


                </div>
              </div>
              <div class="col-xl-5 col-lg-6 col-md-12 m-b30">
                <div class="portfolio-detail-small sx-info">
                  <h3 class="sx-tilte m-t0">{{portfolio.title}}</h3>
                  <div [innerHTML]="portfolio.description"></div>
                  <app-section-portfolio-product-details-share [data]="portfolio.details"></app-section-portfolio-product-details-share>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- SECTION CONTENT END  -->

  </div>
  <!-- CONTENT END -->

  <!-- FOOTER START -->
  <app-footer1></app-footer1>
  <!-- FOOTER END -->

</div>