<div class="section-full mobile-page-padding p-t30 p-b30 sx-bg-white" >

  <div class="container">

    <div class="section-content">
      <div class="client-logo-pic2-wrap">

        <div class="row justify-content-center">

          @for (object of data; track object) {
            <div class="col-lg-2 col-md-4 col-sm-4 col-4">
              <a routerLink="/about/company" class="client-logo-pic2">
                <img src="{{object}}" alt="">
              </a>
            </div>
          }

        </div>


      </div>

    </div>
  </div>

</div>