/* You can add global styles to this file, and also import other style files */

$Navy         : #0a192f;
$LightNavy    : #112240;
$LightestNavy : #303C55;
$Slate        : #8892b0;
$LightSlate   : #a8b2d1;
$LightestSlate: #ccd6f6;
$White        : #e6f1ff;
$Green        : #64ffda;
$GreenOpacity : rgba(100,255,218,0.07);

$chinese_pink       : #D9719D;
$verdigris          : #53BDB3;
$verdigrisOpacity   : rgba(83, 189, 179, 1);
$verdigrisOpacity2     : #dbfef6;
$acquamarine        : #64ffda;
$deep_champagne     : #F7D6A0;
$cyber_grape        : #5C4380;
$vivid_tangerine    : #FC9B8F;



$MainFont: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
$CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;
