<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <!-- <app-header1></app-header1> -->
<app-header2></app-header2>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-banner [data]="banner"></app-banner>
        <!-- INNER PAGE BANNER END -->
        
        <!-- ABOUT COMPANY START -->
        <app-section-about-company2 [data]="about"></app-section-about-company2>  
        <!-- ABOUT COMPANY END -->

        <!-- SECTION CONTENT START -->
        <app-section-projects2 [data]="projects"></app-section-projects2>
        <!-- SECTION CONTENT END  -->      

        <!-- WHAT WE DO START -->
        <app-section-what-we-do1 [data]="whatWeDo"></app-section-what-we-do1>  
        <!-- WHAT WE DO END --> 
        
        <!-- COUNTER START -->
        <app-section-counter1 [data]="counter"></app-section-counter1>   
        <!-- COUNTER  END -->   

        <!-- OUR TEAM START -->
        <app-section-our-team1 [data]="team"></app-section-our-team1>  
        <!-- OUR Team END -->                         

    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>