<div class="page-wraper">

  <!-- HEADER START -->
  <!-- <app-header1></app-header1> -->
<app-header2></app-header2>
  <!-- HEADER END -->

  <!-- CONTENT START -->
  <div class="page-content">

    <!-- INNER PAGE BANNER -->
    <app-banner [data]="banner"></app-banner>
    <!-- INNER PAGE BANNER END -->

    <!-- ABOUT COMPANY SECTION START -->
    <div class="section-full p-t100 p-b100	 bg-white inner-page-padding">
      <div class="container-fluid">
        <div class="section-content ">
          <div class="our-history">

            <div class="row no-gutters sx-bg-white">
              @for (object of process; track $index) {
                <div class="col-xl-4 col-lg-4 col-md-12">
                  @if (object.type == 'image') {
                    <div
                      class="our-history-pic bg-no-repeat bg-center bg-cover"
                      style="background-image:url({{object.image}});">
                    </div>
                  }
                  @if (object.type == 'data') {
                    <div
                      class="our-history-content pic-bg-border">
                      <div class="large-title">
                        <h3 class="m-t0 sx-title" attr.data-title="{{object.serial}}" [innerHTML]="object.title"></h3>
                      </div>
                      <div [innerHTML]="object.description"></div>
                    </div>
                  }
                </div>
              }
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- ABOUT COMPANY SECTION END -->

  </div>
  <!-- CONTENT END -->

  <!-- FOOTER START -->
  <app-footer1></app-footer1>
  <!-- FOOTER END -->

</div>