<div class="section-full p-t100 p-b70 mobile-page-padding sx-bg-dark">
  <div class="container-fluid">

    <!-- TITLE START -->
    <div class="section-head-two center">
      <h2 class="sx-title-two">{{data.title}}</h2>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row our-team-2-outer justify-content-center">

        @for (object of data.members; track object) {
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="our-team-2">
              <div class="profile-image">
                <img src="{{object.image}}" alt="">
                <div class="icons">
                  <a href="https://www.facebook.com/"><span>Fb</span><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/"><span>Tw</span><i class="fa fa-twitter"></i></a>
                  <a href="https://www.instagram.com/"><span>In</span><i class="fa fa-instagram"></i></a>
                </div>
              </div>
              <div class="figcaption text-black">
                <h4 class="m-t0"><a routerLink="team/detail">{{object.name}}</a></h4>
                <p>{{object.designation}}</p>
              </div>
            </div>
          </div>
        }

      </div>
    </div>

  </div>
</div>