<div class="widget widget_newsletter-2">
    <h4 class="widget-title  ">Subscribe to Our Newsletter</h4>
    <div class="newsletter-bx">
        <div class="newsletter-content">
            <p>We’ll send latest in tech, product and design. We never spam!</p>
        </div>
        <div class="m-t20">
            <form role="search" method="post">
            
                <input name="news-letter" class="form-control" placeholder="Enter email address " type="text">
                <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                                                    
            </form>
        </div>
    </div>
</div>