<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <!-- <app-header1></app-header1> -->
<app-header2></app-header2>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-banner [data]="banner"></app-banner>
        <!-- INNER PAGE BANNER END -->

        <!-- MY SKILLS START -->
        <app-section-skills1 [data]="skills" home="0"></app-section-skills1> 
        <!-- MY SKILLS  END -->	

        <!-- Services -->
        <app-section-branding [data]="branding"></app-section-branding>
        <!-- Services --> 

        <!-- OUR CLIENTS -->
        <app-section-our-clients3 [data]="clients"></app-section-our-clients3>  
        <!-- OUR CLIENTS END --> 

        <!-- Services -->
        <app-section-our-services2 [data]="services"></app-section-our-services2>  
        <!-- Services -->             
        
        <!-- Our PRICING PLAN -->
        <app-section-pricing1 [data]="pricing"></app-section-pricing1>
        <!-- Our PRICING PLAN --> 
        
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>