<div class="page-wraper"> 
               	
    <!-- HEADER START -->
    <app-header1-dark></app-header1-dark>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- SLIDER START -->
        <app-section-slider1-dark></app-section-slider1-dark>
        <!-- SLIDER END -->

        <!-- ABOUT COMPANY START -->
        <app-section-about-company1-dark [data]="about"></app-section-about-company1-dark>
        <!-- ABOUT COMPANY END -->
        
        <!-- MY SKILLS START -->
        <app-section-skills1-dark [data]="skills" home="1"></app-section-skills1-dark>
        <!-- MY SKILLS  END -->			
        
        <!-- PROJECTS START -->
        <app-section-projects1-dark [data]="projects"></app-section-projects1-dark>
        <!-- PROJECTS  END -->  
        
        <!-- OUR CLIENTS -->
        <app-section-our-clients1-dark [data]="clients"></app-section-our-clients1-dark>
        <!-- OUR CLIENTS END --> 
        
        <!-- OUR BLOG START -->
        <app-section-blogs1-dark [data]="blogs"></app-section-blogs1-dark>
        <!-- OUR BLOG END -->                        

        <!-- TESTIMONIAL START -->
        <app-section-testimonials1-dark [data]="testimonials"></app-section-testimonials1-dark>
        <!-- TESTIMONIAL  END -->
        
        <!-- CONTACT FORM START -->
        <app-section-contact1-dark [data]="contact"></app-section-contact1-dark>
        <!-- CONTACT FORM  END -->         
                            
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>