<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <!-- <app-header1></app-header1> -->
<app-header2></app-header2>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-banner [data]="banner"></app-banner>
        <!-- INNER PAGE BANNER END -->
        
        <!-- SECTION CONTENT START -->
        <div class="section-full p-t100 p-b70 mobile-page-padding">
            <div class="container">
                    <div class="blog-single-space max-w700 ml-auto mr-auto">
                        <!-- BLOG START --> 
                        <app-section-blog-area [blog]="blog" padding="0"></app-section-blog-area>  
                    </div>
            </div>
        </div>
        <!-- SECTION CONTENT END -->

        <!-- SECTION CONTENT START -->
        <div class="section-full p-t100 p-b100 mobile-page-padding sx-bg-light">
            <div class="container">
             
                <div class="clear max-w700 ml-auto mr-auto comment-section-outer" id="comment-list">
                    <app-section-blog-comments [data]="commentslist"></app-section-blog-comments>
                </div>
                   
            </div>
        </div>
        <!-- SECTION CONTENT END --> 
        
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>