<div class="page-wraper"> 
               	
        <!-- HEADER START -->
        <app-header2></app-header2>
        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- SLIDER START -->
            <app-section-slider2></app-section-slider2>
            <!-- SLIDER END -->

            <!-- ABOUT COMPANY START -->
                <app-section-about-company1 [data]="about"></app-section-about-company1>
            <!-- ABOUT COMPANY END -->

            <!-- WHAT WE DO START -->
            <app-section-what-we-do1></app-section-what-we-do1>
            <!-- WHAT WE DO END --> 
            
            <!-- OUR SERVICES START -->
            <app-section-our-services1 [data]="services"></app-section-our-services1>
            <!-- OUR SERVICES  END -->           
            
			<!-- OUR PROCESS END START -->
            <app-section-our-process1></app-section-our-process1>
            <!-- OUR PROCESS END --> 

			<!-- OUR BLOG START -->
            <app-section-blogs2></app-section-blogs2>
            <!-- OUR BLOG END -->                        
                                
        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
        <app-footer1></app-footer1>
        <!-- FOOTER END -->
    
    </div>