<div class="page-wraper"> 
               	
        <!-- HEADER START -->
        <app-header2></app-header2>
        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- SLIDER START -->
            <app-section-slider2></app-section-slider2>
            <!-- SLIDER END -->

            <!-- ABOUT COMPANY START -->
            <app-section-about-company2 [data]="about"></app-section-about-company2>
            <!-- ABOUT COMPANY END -->

            <!-- WHAT WE DO START -->
            <app-section-what-we-do1 [data]="whatWeDo"></app-section-what-we-do1>
            <!-- WHAT WE DO END --> 
            
            <!-- OUR SERVICES START -->
            <app-section-our-services1 [data]="services"></app-section-our-services1>
            <!-- OUR SERVICES  END -->           
            
            <!-- OUR CLIENTS -->
            <app-section-our-clients2 [data]="clients"></app-section-our-clients2>
            <!-- OUR CLIENTS END -->
            
			<!-- OUR PROCESS END START -->
            <app-section-our-process1 [data]="process"></app-section-our-process1>
            <!-- OUR PROCESS END --> 

	        <!-- Awards START -->
            <app-section-awards1 [data]="awards"></app-section-awards1>
            <!-- Awards  END -->

            <!-- OUR TEAM START -->
            <app-section-our-team1 [data]="team"></app-section-our-team1>
            <!-- OUR Team END -->

            <!-- Our PRICING PLAN -->
            <app-section-pricing1 [data]="pricing"></app-section-pricing1>
            <!-- Our PRICING PLAN -->              

			<!-- OUR BLOG START -->
            <app-section-blogs2 [data]="blogs"></app-section-blogs2>
            <!-- OUR BLOG END -->                        

            <!-- COUNTER START -->
            <app-section-counter1 [data]="counter"></app-section-counter1>
            <!-- COUNTER  END -->   
            
            <!-- TESTIMONIAL START -->
            <app-section-testimonials2 [data]="testimonials"></app-section-testimonials2>
            <!-- TESTIMONIAL  END -->                 
                                
        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
        <app-footer1></app-footer1>
        <!-- FOOTER END -->
    
    </div>