<div class="section-full p-t100 p-b70 mobile-page-padding bg-white">
    <div class="container">
        <div class="section-content ">
            <div class="our-history m-b30">
                <div class="row no-gutters sx-bg-white">
                    
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="our-history-pic bg-no-repeat bg-center bg-cover" style="background-image:url({{data().image}});">
                                
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="our-history-content   pic-bg-border">
                            <div class="large-title">
                                <h3 class="m-t0 sx-title" data-title="02">{{data().title}}</h3>
                            </div>
                            <p>{{data().description}}</p>
                            <a routerLink="/services/detail" class="site-button-secondry btn-half outline m-r15">Read More <span class="sx-bg-primary"></span></a>
                            
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>