<div class="section-full mobile-page-padding sx-bg-white p-t100 p-b70 ">
  <div class="container">

    <!-- TITLE START -->
    <div class="section-head-two center">
      <div class="section-head-two center">
        <span class="insights-eyebrow">Insights</span>
        <h2 class="sx-title-two">Thinking from the work</h2>
      </div>
    </div>
    <!-- TITLE END -->



    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row justify-content-center">

        @for (object of posts; track object.slug) {
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="blog-post blog-grid date-style-2">
              <div class="sx-post-media sx-img-effect img-reflection">
                <a [routerLink]="['/blog', object.slug]">
                  @if (object.image) {
                    <img [src]="object.image" [alt]="object.title" width="640" height="420" loading="lazy" decoding="async">
                  }
                </a>
              </div>
              <div class="sx-post-info p-t30">
                <div class="sx-post-meta ">
                  <ul>
                    <li class="post-date"><a [routerLink]="['/blog', object.slug]">{{object.date}}</a></li>
                    <li class="post-author">By <span>Devsense</span></li>
                  </ul>
                </div>
                <div class="sx-post-title ">
                  <h4 class="post-title"><a [routerLink]="['/blog', object.slug]" [innerHTML]="object.title"></a></h4>
                </div>
                <div class="sx-post-detail" [innerHTML]="object.description">
                </div>
                <div class="sx-post-readmore">
                  <a [routerLink]="['/blog', object.slug]" title="Read article" rel="bookmark" class="site-button-link">Read article</a>
                </div>
              </div>
            </div>
          </div>
        }

      </div>
      <div class="insights-action">
        <a routerLink="/blog/masonry" class="site-button btn-half">View all insights <span class="sx-bg-primary"></span></a>
      </div>
    </div>
  </div>

</div>