<div class="section-full mobile-page-padding p-t100  p-b70 bg-white">
  <div class="section-content">
    <div class="container">
      <!-- TITLE START -->
      <div class="large-title-block">
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <div class=" large-title">
              <!-- TITLE START -->
              <div class="section-head-two left">
                <h2 class="sx-title-two" [innerHTML]="servicesIntro.title"></h2>
              </div>
              <!-- TITLE END -->
            </div>
          </div>


          <div class="col-lg-5 col-md-12">
            <div class=" large-title-info">
              <p [innerHTML]="servicesIntro.paragraph" >
              </p>
            </div>
          </div>

        </div>
      </div>
      <!-- TITLE END -->
      <div class="row">

        <!-- Block one -->
        @for (object of serviceCards | sortBy:'number'; track $index) {
          @if($index <= 5) {
                      <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
            <div class="sx-service2-box">
              <div class="sx-service2-inner">
                <img src="{{object.image}}" alt=""/>
                <div class="figcaption">
                  <h4 class="sx-title" [innerHTML]="object.title"></h4>
                  <div [innerHTML]="object.description"></div>
                  <a routerLink="/services/detail" class="site-button-link white">View more</a>
                </div>
              </div>
            </div>
          </div>
          }
        }

      </div>
    </div>
  </div>

  <div class="hilite-title text-left p-l50 text-uppercase">
    <strong>Services</strong>
  </div>
</div>