<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-banner [data]="banner"></app-banner>
        <!-- INNER PAGE BANNER END -->
        
        <!-- SECTION CONTENT START -->
        <div class="section-full p-t100 p-b100 sx-bg-white mobile-page-padding">
            <div class="container">
                <div class="section-content">
                            
                    <div class="portfolio-fw-slider-wrap m-b30">

                            <div class="swiper-container swiper-container-fw">
                                <div class="swiper-wrapper">
                                  <!--Image 1-->
                                  <div class="swiper-slide" *ngFor="let object of portfolio.slider">
                                    <div class="sx-box   image-single-carousel ">
                                        <img src="{{object}}" alt=""> 
                                    </div>
                                  </div>
                                </div>
    
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
    
                            </div>                                                               

                       
                    </div>
                    
                    <div class="project-small-slider-wrap"> 
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-12">
                                <div class="portfolio-detail-fullwidth">

                                    <h3 class="sx-tilte m-t0">{{portfolio.title}}</h3>
                                    
                                    <div [innerHTML]="portfolio.description"></div>

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 sticky_column">
                                <div class="portfolio-detail-small sx-info p-l30">
                                    
                                    <app-section-portfolio-product-details-share [data]="portfolio.details"></app-section-portfolio-product-details-share>
                                    
                                </div>
                            </div>                            
                        </div>
                    </div>                     
                 </div>
             </div>
         </div>           
        <!-- SECTION CONTENT END  -->
        
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>